table.attributesTable td textarea.ml-tools-testorder-addressbox {
    min-width: 200px;
    min-height: 400px;
}

table.attributesTable td textarea.ml-tools-testorder-productbox {
    min-width: 300px;
    min-height: 200px;
}

table.attributesTable td textarea.ml-tools-testorder-jsondatabox {
    min-width: 400px;
    min-height: 500px;
}

table.attributesTable td textarea.ml-tools-testorder-totalbox {
    min-width: 300px;
    min-height: 200px;
}

table.attributesTable td textarea.ml-tools-testorder-orderbox {
    min-height: 200px;
}

table.attributesTable td textarea.ml-tools-testorder-mpspecificbox {
    min-height: 200px;
}